<!-- 
Name : Daivik Shetty
Student Id: 301167163 -->



<!-- about me section -->
<div class="container"  style="background-color:#12161b;">
  <div >
    <div class="column-33">
      <img class="img-block img-fluid" src="/Assets/images/aboutme.png">
    </div>
    <div>
        <h1 style="color:azure; font-size: 28px"><b>Hi, My name is </h1><h1 style="color:aqua;font-size: 50px">Daivik Shetty.</b></h1>
        <p>I am a Game Programmer from India and have completed my Bachelor's in Information Technology in 2021.</p>
        <p>Growing up, as someone who has felt like a side character in his own story, games were the one place where I got to be
          the protagonist of a new adventure. What started as a means for escaping my reality grew into
          a fascination with how games came to life. </p>
        <p> My journey in Game Development started by making small-scale games like Snake and Tetris using Pygame,
          which was a fulfilling process. To further broaden my skills, I moved on to using Unity
          Engine which made me proficient in C#.
        </p>
        <p>After graduation, wanting to learn game development in a more educational setting, I enrolled into the Advanced Diploma in Game Programming at Centennial College, Canada.</p>
        <p></p>
      <button class="btn btn-info" onclick=" window.open('https://docs.google.com/document/d/1AuhValvu5bkasYmrNP_wybUQ0SjOm7xi5fpAd13UHkM/edit?usp=sharing')">Resume
      </button>
    </div>
  </div>
</div>
