<!-- 
Name : Daivik Shetty
Student Id: 301167163 -->


<!-- services section -->
<div style="text-align: center; background-color:#12161b;">
    <h1 style="color:#66FCF1;font-size: 48px;"><b>My Services </b></h1>
    <br><br><br><br>
    <div style="text-align: center; background-color:#12161b;">
      <div class="row animated fadeIn justify-content-center align-items-center">
        <div class="column">
          <img src="/Assets/images/services/ar_development.png" alt="ar_development" height="270px">
            <div class="col" style="color:azure">
              <p><h4 style="color:#66FCF1"><b>Virtual Reality (VR) and Augumented Reality (AR) Development</b></h4>Technology: Unity Engine, Vuforia SDK</p>
            </div>
          </div>
    <div class="column-">
      <img src="/Assets/images/services/game_development.png" alt="game_development" height="270px">
      <div class="col" style="color:azure">
        <p><h4 style="color:#66FCF1"><b>Game Development</b></h4>Technology: Unity Engine, Unreal Engine, Pygame </p>
    </div>
    </div>
  </div>
</div>