<!-- 
Name : Daivik Shetty
Student Id: 301167163 -->
t Id: 301167163 -->


<!-- bottom navbar -->
<footer>
  <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3 style="color:#66FCF1">Services</h3>
                      <ul>
                          <li>Game Development</li>
                          <li>Virtual Reality(VR) Development</li>
                          <li> Web Development</li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3 style="color:#66FCF1" >Projects</h3>
                      <ul>
                          <li> Dungeon Crawler </li>
                          <li> Shoot the Bots </li>
                          <li> Home Surveillance and Motion Detection Software </li>
                          
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3 style="color:#66FCF1" >Contact Me</h3>
                      <p> Email - daivikshetty666@gmail.com</p>
                  </div>
                  <div class="col item social">

                      <button type="button" class="btn btn-link" onclick=" window.open('https://github.com/daivikshetty343')">
                          <i style="color:rgb(158, 255, 255)" class="fab fa-github-square fa-2x" ></i>
                        </button>
                        
                      <button type="button" class="btn btn-link" onclick=" window.open('https://www.instagram.com/daivik.__.s/')">
                          <i style="color:rgb(162, 255, 255)" class="fab fa-instagram-square fa-2x" ></i>
                      </button>
                
                      <button type="button" class="btn btn-link" onclick=" window.open('https://www.facebook.com/daivik.shetty.3/')">
                          <i style="color:rgb(174, 255, 255)" class="fab fa-facebook-square fa-2x" ></i>
                      </button>
                        
                        
                  </div>                   
              </div>
              <p class="copyright">Copyright © 2022</p>
          </div>
      </footer>
  </div>
</footer>
 
  <!-- scripts used  -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  
</body>
</html>