<!-- 
Name : Daivik Shetty
Student Id: 301167163 -->

<!-- header section -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- Css section -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/stylesheet/app.css' />
</head>

  
  <!-- main navbar section -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #1F2833;"><!-- created a fixed nav bar at the top of the screen -->
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="/Assets/images/logo.png" width="50" height="50" alt=""> Daivik Shetty
      </a>
      <!-- created a responsive toggler button that appears when the window size of the website is reduced-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          <% if (title == "Home") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/home"><i style="color:#66FCF1" class="fab fa-fort-awesome"></i> Home </a>
          </li>

          

          <% if (title == "Projects") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/project"><i  style="color:#66FCF1" class="fas fa-tasks"></i> Projects </a>
          </li>

          <% if (title == "Services") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/services"><i style="color:#66FCF1" class="fas fa-laptop-code"></i> Services </a>
          </li>

          <% if (title == "About Me") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/about"><i style="color:#66FCF1" class="fas fa-user"></i> About Me </a>
          </li>

          <% if (title == "Contact Me") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link"  href="/contact"><i style="color:#66FCF1" class="far fa-envelope"></i> Contact Me </a>
          </li>
          <% if (title == "Business Contact List") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/inventory/list"><i style="color:#66FCF1" class="fas fa-address-book"></i> Business Contact List </a>
          </li>

    

          <li class="nav-item">  
            <% if (typeof userName == 'string' && userName) { %>
              <a class="nav-link" href="/users/signout" onclick="return confirm('Are you sure?')">Sign Out (<%= userName %>)</a>
            <% } else { %>
              <a class="nav-link" href="/users/signin">Signin</a>
            <% } %>            
          </li> 


        </ul>
      </div>
    </div>
  </nav>


<body>