<!-- 
Name : Daivik Shetty
Student Id: 301167163 -->


<!-- home page section -->
<div class="container" style="padding:44px;">
  <div  style="margin-top: 40px">
    <div class="col" style="text-align:center;color:#dbd7d7;">

      <p style="color:#66FCF1;text-align:left">Hi, my name is </p>
      <p style="color:#d9fffc; font-size:50px;text-align:left">Daivik Shetty </p>
      <p class="lead" style="color:#66FCF1;text-align:left">Game Programmer</p>

      <p style="text-align:left;font-size: 20px;"> “Gamers can feel when developers are passionate about their games. They can smell it like a dog smells fear. Don't be afraid to hold onto your unique vision: just be aware that it may not turn out exactly how you envisioned.”
        ― Scott Rogers, Level Up!: The Guide to Great Video Game Design </p> 
        <p style="text-align:left;font-size: 20px;"> Growing up, as someone who has felt like a side character in his own story, games were the one place where I got to be the protagonist of a new adventure. What started as a means for escaping my reality grew into a fascination with how games came to life.</p><br>
        <p style="text-align:left;font-size: 20px;"> Now, I hope to create games that will be able to do the same for others. </p><br>
        <a type="submit" class="btn btn-info" href="/about">About Me</a>      
    </div>

    
    
  </div>
</div>