<!-- 
Name : Daivik Shetty
Student Id: 301167163 -->


<!-- my projects section -->
<div style="text-align: center; background-color:#12161b;">
  <div align="center">
    <div class="column-66">
      <h2 style="font-size:48px;color:#66FCF1"><b>Dungeon Crawler</b></h2>
      <h2 style="color:#b2fcf7;font-size:26px"><b> Explore the dungeon and find the treasures hidden within, but be careful - the dead lay inside.</b></h2>
      <p style="font-size:20px"> This is a 2D Top-Down Game made in Unity Engine using C#. </p>
      <p><span style="font-size:16px"><b>Features: </b></span> Manual collision detection and a fully-fledged Combat System </p>
      <button class="btn btn-info" onclick=" window.open('https://github.com/daivikshetty343/Dungeon-Crawler')">Details</button>
    </div>
    <div class="column-33">
        <img class="img-block img-fluid" src="/Assets/images/projects/dungeon.jpg">
    </div>
  </div>
</div>


<div style="text-align: center; background-color:#12161b;">
  <div align="center">
    
    <div class="column-66">
      <h2 style="font-size:48px;color:#66FCF1"><b>Shoot the Bots</b></h2>
      <h2 style="color:#b2fcf7;font-size:36px"><b></b></h2>
      <p><span style="font-size:24px">This is a 3D First Person Shooter designed in the Unity Engine</p>
      <p><span style="font-size:16px"><b> </b></span> There are several enemies in this level. You need to, as the title suggests, shoot them all. </p>
      <button class="btn btn-info" onclick=" window.open('https://simmer.io/@DaivikShetty44/fps-game-daivik-shetty-44-')">Play Now</button>
    </div>
    <div class="column-33">
      <img class="img-block img-fluid" src="/Assets/images/projects/shooter.png" alt="App">
    </div>
  </div>
</div>

<div style="text-align: center; background-color:#12161b;">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-66">
      <h1 style="font-size:45px;color:#66FCF1"><b>Home Surveillance and Motion Detection Software </b></h1>
      <p><span style="font-size:23px"> This project uses Pi camera and Raspberry pi 3(Raspbian Wheezy) as hardware along with Opencv library & Python on the software side. </p>
      <p><span style="font-size:16px"><b>Features: Uses the Raspberry Pi Camera to detect any motion within it's eyesight</b></span>       </p>
      <button class="btn btn-info"  onclick=" window.open('https://github.com/daivikshetty343/IOT-project')">Details</button>
    </div>
    <div class="column-33">
        <img class="img-block img-fluid" src="/Assets/images/projects/iot.png">
    </div>
  </div>
</div>